---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, AVATAR } from '../../utils/consts';
import Avatar from './Avatar.astro';
import Dropdown from './Dropdown.astro';

const { lang } = Astro.props;

const homeSlug = `/`;
const blogSlug = `/blog`;
const projectsSlug = `/projects`;
const aboutSlug = `/about`;
---

<header class="bg-gray-100 text-gray-800 fixed w-full">
  <div class="border-2 px-4 py-2">
    <nav class="flex items-center justify-between text-gray-800">
      <h2 class="text-lg font-extrabold">
        <a href={homeSlug} class="no-underline hover:text-cyan-700 transition-colors duration-200"
          >{SITE_TITLE}</a
        >
      </h2>
      <!-- Desktop Links -->
      <div class="hidden md:flex md:items-center md:space-x-2 ml-auto">
        <HeaderLink href={homeSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Inicio</HeaderLink
        >
        <HeaderLink href={blogSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Blog</HeaderLink
        >
        <HeaderLink href={projectsSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Proyectos</HeaderLink
        >
        <HeaderLink href={aboutSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >Sobre mí</HeaderLink
        >
      </div>
      <Avatar src={AVATAR} link={homeSlug} />
      <button
        id="menu-toggle"
        class="md:hidden border-2 border-gray-400 bg-gray-100 px-2 py-1 rounded transition-colors duration-700"
      >
        &#9776;
      </button>
    </nav>
  </div>
  <Dropdown lang={lang} />
</header>

<script is:inline>
  const toggleButton = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');

  toggleButton.addEventListener('click', () => {
    menu.classList.toggle('hidden');

    if (menu.classList.contains('hidden')) {
      toggleButton.classList.remove('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.add('border-gray-600', 'bg-gray-100', 'text-gray-800');
    } else {
      toggleButton.classList.add('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.remove('border-gray-600', 'bg-gray-100', 'text-gray-800');
    }
  });
</script>
