---
import HeaderLink from './HeaderLink.astro';
import { TITLE, AVATAR } from '../../utils/consts';
import LangLink from './LangLink.astro';
import { useTranslations, type UiType } from '../i18n/utils';
import Avatar from './Avatar.astro';
import Dropdown from './Dropdown.astro';

const { lang } = Astro.props;
const t = useTranslations(lang as UiType);

const homeSlug = `/${lang || ''}`;
const blogSlug = `/${lang || ''}/blog`;
const projectsSlug = `/${lang || ''}/projects`;
const aboutSlug = `/${lang || ''}/about`;
---

<header class="bg-gray-100 text-gray-800 fixed w-full">
  <div class="border-2 px-4 py-2">
    <nav class="flex items-center justify-between text-gray-800">
      <h2 class="text-lg font-extrabold">
        <a href={homeSlug} class="no-underline hover:text-cyan-700 transition-colors duration-200"
          >{TITLE}</a
        >
      </h2>
      <!-- Desktop Links -->
      <div class="hidden md:flex md:items-center md:space-x-2 ml-auto">
        <HeaderLink href={homeSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >{t('nav.home')}</HeaderLink
        >
        <HeaderLink href={blogSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >{t('nav.blog')}</HeaderLink
        >
        <HeaderLink href={projectsSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >{t('nav.projects')}</HeaderLink
        >
        <HeaderLink href={aboutSlug} class="hover:text-cyan-700 transition-colors duration-200"
          >{t('nav.about')}</HeaderLink
        >
        <span class="px-2">|</span>
        <div class="flex space-x-4">
          <LangLink
            language="en"
            isActive={lang == 'en'}
            class="hover:text-cyan-700 transition-colors duration-200"
          />
          <LangLink
            language="es"
            isActive={lang == 'es'}
            class="hover:text-cyan-700 transition-colors duration-200"
          />
        </div>
      </div>
      <Avatar src={AVATAR} link={homeSlug} />
      <button
        id="menu-toggle"
        class="md:hidden border-2 border-gray-400 bg-gray-100 px-2 py-1 rounded transition-colors duration-700"
      >
        &#9776;
      </button>
    </nav>
  </div>
  <Dropdown lang={lang} />
</header>

<script is:inline>
  const toggleButton = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');

  toggleButton.addEventListener('click', () => {
    menu.classList.toggle('hidden');

    if (menu.classList.contains('hidden')) {
      toggleButton.classList.remove('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.add('border-gray-600', 'bg-gray-100', 'text-gray-800');
    } else {
      toggleButton.classList.add('border-gray-800', 'bg-gray-300', 'text-gray-800');
      toggleButton.classList.remove('border-gray-600', 'bg-gray-100', 'text-gray-800');
    }
  });
</script>
