---
import PaginationButton from './PaginationButton.astro';

const { page } = Astro.props;
---

<div class="pagination flex justify-center items-center mt-6 text-sm">
  <PaginationButton href={page.url.first} label="Primero" isDisabled={!page.url.first} />

  <PaginationButton href={page.url.prev} label="Anterior" isDisabled={!page.url.prev} />

  <span class="current-page font-semibold text-gray-700 mx-2">
    Página
    {page.currentPage}/{page.lastPage}
  </span>

  <PaginationButton href={page.url.next} label="Siguiente" isDisabled={!page.url.next} />

  <PaginationButton href={page.url.last} label="Último" isDisabled={!page.url.last} />
</div>
